.user-settings {
    background: #fdfdfd;
    border-radius: 16px;
    width: 360px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-shrink: 0;

    &__avatar {
        width: 280px;
        height: 485px;
        align-self: center;

        img {
            width: 100%;
            height: 100%;
            border-radius: 8px;
            object-fit: cover;
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 20px;
    }

    &__menu-button {
        width: 100%;
        background: none;
        border: none;
        cursor: pointer;
        text-align: left;
        padding-bottom: 12px;
        font-family: "Manrope", sans-serif;
        font-size: 16px;
        transition: all 0.3s ease;
        border-bottom: 1px solid #dadada;
        font-weight: 500;
        color: #9c9c9c;

        &.active {
            font-weight: 600;
            color: #000000;
        }

        &:hover {
            color: #000000;
        }
    }
}

@media (max-width: 767px) {
    .user-settings {
        width: 100%;
        max-width: 343px;
        padding: 28px;
        gap: 20px;
        align-items: center;

        &__avatar {
            width: 100%;
            max-width: 400px;
            height: auto;
            aspect-ratio: 16 / 9;
        }

        &__menu {
            width: 100%;
            gap: 24px;
        }

        &__menu-button {
            font-size: 14px;
            padding-bottom: 8px;

            &.active {
                font-weight: 500;
            }
        }
    }
}

@media (max-width: 375px) {
    .user-settings {
        max-width: 287px;
        padding: 24px;

        &__avatar {
            width: 287px;
            height: 187px;
            padding: 0 24px;

            img {
                border-radius: 8px;
            }
        }
    }
}
