.layout {
    min-height: 100vh;
    padding: 36px 16px 40px;

    @media (min-width: 376px) {
        padding: 40px 16px 198px;
    }
}

.layout__container {
    max-width: 1160px;
    margin: 0 auto;
}
