@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Manrope:wght@400;500;600;700&display=swap");

:root {
    --color-accent: #22a0bc;
    --color-primary: #161616;
    --color-secondary: #595959;
    --color-muted: #9c9c9c;
    --color-background: #fdfdfd;
    --color-background-page: #f4f4f4;

    --font-primary: "Manrope", sans-serif;
    --font-secondary: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-primary);
    line-height: 1.6;
    color: #333;
    background-color: var(--color-background-page);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
}
